
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Docking35.csproj.AssemblyReference.cache
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Docking35.csproj.CoreCompileInputs.cache
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Docking35.csproj.FileListAbsolute.txt
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Docking35.csproj.GenerateResource.cache
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Docking35.Form1.resources
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Krypton.Docking.dll
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Krypton.Docking.pdb
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/Krypton.Docking.Properties.Resources.resources
RS.UtilityLib.Krypton.Docking/Docking35/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
*.cache
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/Navigator35.csproj.FileListAbsolute.txt
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/Krypton.Navigator.Properties.Resources.resources
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/Krypton.Navigator.pdb
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/Krypton.Navigator.NewFolder1.Form1.resources
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/Krypton.Navigator.KryptonPageFormEditFlags.resources
RS.UtilityLib.Krypton.Docking/Navigator35/obj/Debug/Krypton.Navigator.dll
RS.UtilityLib.Krypton.Docking/Ribbon35/obj/Debug/Krypton.Ribbon.dll
RS.UtilityLib.Krypton.Docking/Ribbon35/obj/Debug/Krypton.Ribbon.pdb
RS.UtilityLib.Krypton.Docking/Ribbon35/obj/Debug/Krypton.Ribbon.Properties.Resources.resources
RS.UtilityLib.Krypton.Docking/Ribbon35/obj/Debug/Ribbon35.csproj.FileListAbsolute.txt
RS.UtilityLib.Krypton.Docking/Ribbon35/obj/Debug/Ribbon35.NewFolder1.Form1.resources
RS.UtilityLib.Krypton.Docking/Ribbon35/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.KryptonInputBox.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.KryptonInputBoxNew.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.KryptonMessageBox.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.ModalWaitDialog.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.NewFolder1.Form1.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.PaletteDrawBordersSelector.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.pdb
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.Properties.Resources.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.VisualTaskDialog.resources
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Toolkit35.csproj.FileListAbsolute.txt
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.dll
RS.UtilityLib.Krypton.Docking/Toolkit35/obj/Debug/Krypton.Toolkit.KryptonCheckButtonCollectionForm.resources
RS.UtilityLib.Krypton.Docking/Workspace35/obj/Debug/Krypton.Workspace.dll
RS.UtilityLib.Krypton.Docking/Workspace35/obj/Debug/Krypton.Workspace.NewFolder1.Form1.resources
RS.UtilityLib.Krypton.Docking/Workspace35/obj/Debug/Krypton.Workspace.pdb
RS.UtilityLib.Krypton.Docking/Workspace35/obj/Debug/Krypton.Workspace.Properties.Resources.resources
RS.UtilityLib.Krypton.Docking/Workspace35/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RS.UtilityLib.Krypton.Docking/Workspace35/obj/Debug/Workspace35.csproj.FileListAbsolute.txt
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.csproj.FileListAbsolute.txt
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.dll
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Strings.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2005.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2005.Strings.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2012.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2012.Strings.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2013.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2015.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Docking.Theme.ThemeVS2017.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.MassageBox.YesNoMessageBox.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.MessageBox.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.pdb
RS.UtilityLib.Docking/Atiran.CustomDocking/obj/Debug/Atiran.CustomDocking.Properties.Resources.resources
RS.UtilityLib.Docking/Atiran.CustomDocking/Test/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
RS.UtilityLib.Docking/WeifenLuo.WinFormsUI.Docking/obj/Debug/WeifenLuo.WinFormsUI.Docking.csproj.FileListAbsolute.txt
RS.UtilityLib.Docking/WeifenLuo.WinFormsUI.Docking/obj/Debug/WeifenLuo.WinFormsUI.Docking.dll
RS.UtilityLib.Docking/WeifenLuo.WinFormsUI.Docking/obj/Debug/WeifenLuo.WinFormsUI.Docking.pdb
RS.UtilityLib.Docking/WeifenLuo.WinFormsUI.Docking/obj/Debug/WeifenLuo.WinFormsUI.Docking.Strings.resources
